.App {
  background-image: url(./images/bridge-left.jpg);
  background-repeat:'no-repeat';
  width:'250px';
  height:'250px';
  text-align: center;
}

p {
  font-family: "Open Sans", sans-serif;
}

h1, h2  {
  font-family: "Raleway", sans-serif;
  color: #467561;
}

.nav-link {
  color:  #c5d86d !important;
  font-size: 1.2rem !important;
}

hr {
  color: #467561;
  border-style: none;
  border-top-style: dotted;
  border-width: 5px;
  width: 100%;
}